/* Author: Leah Moser */

a {
  color: var(--lightteal);
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.card {
  border: 2px #aaaaaa solid;
  border-radius: 5px;
  padding: 16px;
  text-align: left;
}
.column {
  float: left;
  width: 33%;
  padding: 0 5px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

img {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 1.5em;
  color: var(--grey2);
}

p {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  color: #555555;
}
