/* Add your code here */

/* The color used in this exercise is teal */
ul {
  padding-left: 0;
  list-style-type: none;
}
ul li {
  width: 100px;
  display: inline-block;
}
a {
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
}
