/* Add your code here */

/* The colors used in this exercise are gray4, teal, lightteal */

/* The width of the form is specified in the styles.css file  */

body {
  background-color: var(--teal);
}
.card {
  margin-top: 6em;
}
form {
  margin: 0 auto;
  border: 2px;
  border-radius: 4px;
  background-color: white;
  padding: 12px;
}

h2 {
  text-align: center;
  color: teal;
}

.inputelement {
  margin-bottom: 1em;
}

.required {
  color: teal;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  font-size: 1.2em;
}
input[type="text"],
input[type="email"] {
  width: 100%;
  font-size: 1.2em;
}
textarea {
  width: 100%;
  font-size: 1.2em;
}

.button {
  background-color: teal;
  color: white;
}
.button:hover {
  background-color: white;
  color: black;
}
