h1 {
  font-size: 1.4em;
  text-align: center;
}

/* Code for exercise 01-flex */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Code for exercise 02-flex */
.flex-item1 {
  display: flex;
  align-items: flex-start;
}
.flex-container-columns {
  height: 400px;
  display: flex;
  flex-flow: column-reverse wrap;
  align-items: flex-end;
}

/* Code for exercise 03-grid */

/* Code for exercise 04-bootstrap-grid */

/* Code for exercise 05-bootstrap-form */
